@charset "UTF-8";
body {
	margin-bottom: 5em;
	margin-top: 3em;
	margin-left: 20em;
	margin-right: 20em;
}

.section-header {
	
}

.section-body {
	padding: 0px 10px 10px 10px; 
	border: solid #ccc 1px; 
	overflow: hidden;
}
.show-content.user_content.clearfix.enhanced .section-body .checklist {
}

.checklist {
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
	text-indent: -1.2em;
}

.checklist li:before {
	content: "❑";
	display: block;
	float: left;
	width: 1.2em;
	color: #000000;	
}
